* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a {
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
  
  /* END OF CSS RESET */


  body {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
  }


  div {
    /* position: relative; */
    max-width: 520px;
    height: auto;
    top: 50%;
    left: 50%;
/*  justify-content: center;
    align-content: center;
 */ padding: 20px;
/*  display: block;
    margin: auto;
 */  }

  div h1 {
    width: 100%;
    /* display: inline-block; */
    margin-left: 58%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: light;
    text-transform: uppercase;
    color: #006837;
    text-align: center;
    padding-bottom: 10px;
  }


  @media screen and (min-width: 520px) {
    h1.password {
      font-size: 36px;
    }
  }
  
  @media screen and (max-width: 520px) {
    h1.password{
      font-size: 24px;
    }
  }


  div p {
    position: absolute;
    max-width: 520px;
    height: auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 16px;
    color: #446774;
    line-height: 25px;
    background-color: #f9c582;
  }

  .container {
    max-width: 480px;
    height: 64px;
    padding: 15px;
    margin: auto;
    /* align-items: center; */
  } 

  .container input {
    /* display: inline-block; */
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    top: 50%;
/*     top: 50%;
    left: 50%;
    transform: translate(-50%);
 */ font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: medium;
    background-color: #f2f2f2;
    color: #98a991;
  }

  @media screen and (max-width: 520px) {
    .container input {
      width: 100%;
      transform: translateX(-40px);
      left: 20px;
    }
    
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 120px;
    background-color: #f9c582;
    color: #006837;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
